<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>

    <div class="add-members-container">
      <input 
        #addMemberInput 
        type="text" 
        placeholder="Name" 
        (input)="onInput(addMemberInput.value)" 
        [value]="newMemberName"
        />
      <button (click)="addMember()">Add</button>
    </div>
    
    <div class="input-container">
      <input 
        #numberOfTeamsInput
        (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
        type="number" 
        placeholder="# of teams"
        [value]="numberOfTeams"
      />
      <br>
      <span *ngIf="!teams.length">
        <button (click)="generateTeams('create')">Generate</button><br></span>
      <span *ngIf="members.length">
        <button (click)="clearAll(false)">Clear Members</button>
      </span>
      <span *ngIf="teams.length">
        <button  (click)="generateTeams('rearrange')">Rearrange All</button><br>
        <button (click)="generateTeams('createNew')">Create New Teams</button><br>
        <button (click)="generateTeams('fitIn')">Fit into Existing</button><br>
        <button (click)="clearAll(true)">Clear All</button>
      </span>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>

  <div *ngIf="teams.length">
    <app-team 
    *ngFor="let team of teams; let i = index"
    [team] = "team"
    [index] = "i"
    ></app-team>

  </div>
  
</div>
